:root {
    --dark-blue-grey: #2f3140;
    --dusty-aqua-color: #a2e0d8;
    --content-heading-color: #3e4266;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.header {
    padding: 15px 15px 15px 0;
    background-color: var(--dark-blue-grey);
}

.header h1 {
    display: inline-block;
    align-items: flex-end;
    font-size: 350%;
    background-color: var(--dusty-aqua-color);
    color: var(--dark-blue-grey);
    padding: 5px 5px 5px 70px;
}

.header nav {
    padding-top: 15px;
    margin-right: 70px;
    float: right;
    font-size: 20px;
    color: var(--dusty-aqua-color);
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--dusty-aqua-color);
    font-size: 130%
}

.hero {
    display: block;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/profile-banner.jpg");
    background-size: cover;
    background-position: center;
}

.hero-subtitle {
    position: absolute;
    top: 40%;
    right: 80px;
    padding: 10px;
    font-size: 250%;
    background-color: var(--dusty-aqua-color);
    color: var(--dark-blue-grey);
}

.main-content {
    margin: 50px 100px 10px 100px;
    padding-bottom: 5%;
}

.about {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 5%;
}

.about h1 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding-right: 5%;
    border-right: 5px solid;
    color: var(--content-heading-color);
    font-weight: 10;
    font-size: 400%;
}

.about p {
    padding-left: 4%;
}

.work {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 5%;
}

.work h1 {
    display: inline-block;
    border-right-style: solid;
    border-right-width: 10px;
    border-right: var(--content-heading-color);
    color: var(--content-heading-color);
    font-size: 200%;
}

.work figure img {
    padding: 5px;
}

.work figure h2 {
    position: relative;
    margin-bottom: 15px;
}

.work figure p {

}

.contact {

}

.contact h1 {

}