:root {
    --dark-blue-grey: #3e4266;
    --dusty-aqua-color: #a2e0d8;
    --content-heading-color: #404361;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.header {
    padding: 15px 15px 15px 0;
    background-color: var(--dark-blue-grey);
}

.header h1 {
    display: inline-block;
    align-items: flex-end;
    font-size: 350%;
    background-color: var(--dusty-aqua-color);
    color: var(--dark-blue-grey);
    padding: 5px 5px 5px 70px;
}

.header nav {
    padding-top: 15px;
    margin-right: 70px;
    float: right;
    font-size: 20px;
    color: var(--dusty-aqua-color);
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--dusty-aqua-color);
    font-size: 130%;
    text-underline-offset: 5px;
}

.hero {
    display: block;
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/profile-banner.jpg");
    background-size: cover;
    background-position: center;
}

.hero-subtitle {
    position: absolute;
    top: 40%;
    right: 80px;
    padding: 10px;
    font-size: 250%;
    background-color: var(--dusty-aqua-color);
    color: var(--dark-blue-grey);
}

.main-content {
    margin: 50px 100px 10px 100px;
    padding-bottom: 5%;
}

.main-content-headings {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: center;
    padding-right: 5%;
    padding-bottom: 5%;
    border-right: 5px solid;
    color: var(--content-heading-color);
    font-weight: normal;
    font-size: 400%;
}

#about {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 5%;
}

#about p {
    padding-left: 4%;
}

#work {
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    grid-template-rows: auto;
    margin-bottom: 5%;
}

.first-project {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: center;
    background-image: url("https://via.placeholder.com/200");
}

.div-border-right {
    border-right: 5px solid;
    color: var(--content-heading-color);
}

#work figure {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("https://via.placeholder.com/200");
    padding: 20% 10% 30px 0;
    margin: 10px 10px 10px 15px;
    border: 5px var(--dusty-aqua-color) solid;
}

.project-name {
    color: var(--dark-blue-grey);
    padding: 15px;
    background-color: var(--dusty-aqua-color);
}

.project-name h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

.project-name p {
    font-size: 90%;
    margin-top: 10px;
}

#contact {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-bottom: 5%;
}

#contact ul {
    display: flex;
    justify-content: space-between;
    padding: 7%;
}

#contact li {
    display: inline;
}

#contact a {
    font-size: 125%;
    text-underline-offset: 5px;
}